.page-body  {
  height: 100%;
  width: 100%;
  background-color: #1b2838;
  color: #CFE2FF;
  text-align: center;
}

h1{
  color: #CFE2FF;
}

.card-bg{
  background-color: #c7d5e0;
}

.tool-button{
  background-color: #1b2838;
  color: #c7d5e0;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid;
  padding: 5px;
}

.delete-button{
  background-color: #c8102e;
  color: #c7d5e0;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid;
  padding: 5px;
}

.delete-button:hover{
  color: #c8102e;
  background-color: #c7d5e0;
  border-color: #c8102e;
  border-width: 2px;

}

.tool-button:hover{
  color: black;
  border-width: 2px;
  background-color: #c7d5e0;
}

.hidden {
  display: none;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashes{
  padding: 3px;
  background-color: #CFE2FF;
  color: crimson;
  font-weight: 700;
}