<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Metarial Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />

    <!-- CHARTS.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% block title %} Tracker {% endblock %}</title>
    {% endblock %}

</head>
<body class="page-body">

    {% block navbar %}
      <nav class="navbar navbar-expand-lg fw-bold">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="{{ url_for('home') }}">MEO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="{{ url_for('home') }}">Nyilvantarto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('scraps') }}">Selejtek</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('show_stats') }}">Statisztika</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('add_tool') }}">Add tool</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-light" href="{{ url_for('check_calibration_dates') }}">CHECK DATES</a>
              </li>

              {% if logged_in: %}
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('user_logout') }}">Logout</a>
              </li>
              {% else: %}
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('index') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('register_user') }}">Sign up</a>
              </li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}

    <!-- Page content -->
    {% block content %} {% endblock %}


    <!-- Optional JavaScript -->
    {% block scripts %}

        {{ bootstrap.load_js() }}

    {% endblock %}    
</body>
</html>