{% extends "base.html" %}

{% block title %} Tracker - Home {% endblock %}

{% block content %}
      <!-- FILTER -->
      <div class="container-lg">

        <div class="row mt-4 text-center p-1">
            <h1> Meroezkoz nyilvantarto </h1>
        </div>
        <div class="d-flex flex-row flex-wrap">
          <div class="flex-md-fill my-2">    
            <form  class="d-flex col-md-6" action="{{ url_for('filter_by') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <select class="form-select" name="tool_names" id="tool_names">
                        <option selected>Válassz...</option>
                        <option value="Tolómérő">Tolómérő</option>
                        <option value="Kengyeles mikrométer">Kengyeles mikrométer</option>
                        <option value="Furatmikrométer">Furatmikrométer</option>
                        <option value="Kengyeles mikrométer készlet">Kengyeles mikrométer készlet</option>
                        <option value="Mélységmérő mikrométer">Mélységmérő mikrométer</option>
                        <option value="Mélységmérő">Mélységmérő</option>
                        <option value="Furatmikrométer készlet">Furatmikrométer készlet</option>
                        <option value="Furatmikrométer">Furatmikrométer</option>
                        <option value="Mérőóra">Mérőóra</option>
                        <option value="Szögtapintós mérőóra">Szögtapintós mérőóra</option>
                        <option value="Derékszög">Derékszög</option>
                    </select>

                <button class="tool-button ms-2" type="submit">Szures</button>

            </form>
          </div>
      <!-- SEARCH BAR -->
      <div class="flex-md-fill my-2">
        <form class="d-flex col-md-6" action="{{ url_for('search') }}" method="post" novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input class="form-control me-2" name="search" type="search" placeholder="Search by Tool ID" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
      </div>

<!-- CONTENT -->
<div class="container-lg">
    <div class="row">

    {% for tool in tools %}
        <div class="col-sm-6 mb-3 mt-3">

          <div class="card card-bg text-dark">
            <div class="card-header">
                <h5 class="card-title">{{ tool.tool_brand }} {{ tool.tool_name }}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col">
                    <p class="card-text text-sm-start ms-5 p-1"><span class="material-icons align-middle">
                      location_on
                      </span>  {{ tool.tool_location }} </p>
                    <p class="card-text text-sm-start ms-5 p-1"><span class="material-icons align-middle">
                      assignment
                      </span>  {{ tool.status }} </p>
                </div>
                <div class="col">
                    <p class="card-text text-sm-start ms-5 p-1"><span class="material-icons align-middle">
                      turned_in
                      </span>  {{ tool.tool_id }} </p>
                    <p class="card-text text-sm-start ms-5 p-1"><span class="material-icons align-middle">
                      assignment_turned_in
                      </span>   {{ moment(tool.valid_until).format('LL') }}</p>
                </div>
            </div>
              <a href="{{ url_for('tool_details', tool_id= tool.id) }}"><button class="tool-button shadow mt-2" type="button" > Tool details</button></a>
              <a href="{{ url_for('modify_tool', tool_id= tool.id) }}"><button class="tool-button shadow mt-2" type="button" > Modify tool</button></a>
              <a href="#"><button class="delete-button shadow mt-2" type="button" > Delete Tool</button></a>  
            </div>
          </div>
        </div>

        <!-- MODAL -->
        <div class="modal hidden">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Biztosan torlod az ezkozt?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Torles</button>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}


</div>
</div>



{% endblock %}